body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
main {
    text-align: center;
}
main button {
    border: none;
    background-color: rgb(242, 224, 201);
    padding: 15px;
    font-size: 1.3em;
    width: 30%;
}
main button:hover {
    background-color: rgb(232, 211, 183);
}
div h1 {
    font-size: 4em;
}
#ratings p {
    margin: auto;
    margin-bottom: 1%;
    font-size: 2em;
    width: 80%;
}
.container {
    margin: 3% auto;
}
.demon {
    background-color: rgb(255, 246, 235);
    border: 4px solid rgb(190, 139, 71);
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    margin: 20px auto;
}
.demon img {
    float: left;
    width: 27%;
    margin: 2%;
}
.demon h1 {
    margin: 3% auto;
}
.demon-rating {
    width: 45%;
    font-size: 80%;
}