body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
.container {
    text-align: center;
    margin: 3% auto;
}
.demon {
    background-color: rgb(255, 246, 235);
    border: 4px solid rgb(190, 139, 71);
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    margin: 20px auto;
}
.demon img {
    float: left;
    margin: 30px 10px;
}
.demon h1 {
    margin: 3% auto;
}